.seat-selection-container {
  padding: 20px;
  height: 100vh; /* This will make the container full height of the viewport */
}

.svg-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seats-image {
  width: 100%;
  height: auto;
  max-height: 80vh;  /* Adjust as needed */
}